@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
 margin: auto;
background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);    width: 295px;
    height: 325px;
    text-align: center;
    border: groove 5px black;
    border-radius: 2em;
    border-style:inset;
  border-radius: px;
background: #e0e0e0;
box-shadow:  17px 17px 34px #b3b3b3,
             -17px -17px 34px #ffffff;
}
.button {
 font-family: 'Orbitron', sans-serif;
 background: rgb(2,0,36);

 color: white;
 border-radius: 25px;
 width: 80%;
border-radius: 11px;
 height: 80%;
 outline: none;
}
.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 9px #c1c1c1;
}
div.a {
  text-align: center;
}
